<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-primary">Directive Practice</h1>
        <hr>
        <button 
        class="btn btn-primary" 
        (click)="onDisplayDetails()">
            Display Details
        </button>
        <p *ngIf="displayDetails">Secret Password = 'tuna'</p>
        <hr>
        <p  *ngFor="let click of buttonClicks" 
            [ngStyle]="{backgroundColor: click >= 5 ? 'blue': null}"
            [ngClass]="{'white-text': click >= 5}">Button click #: {{ click }}</p>
      </div>
    </div>
</div>
  
  
  
  